{% extends "layouts/layout.twig" %}

{% block content %}

    <h1>Forbidden</h1>

    <p>File or resource you have requested is not accessible. </p>
    <p><a href="/" >start from the beginning!</a></p>

{% endblock %}