<div class="form-group{{ view.errors.ifExists(name, null, ' has-error') }}">
    <label for="{{ name }}">{{ title }}</label>
    {% set value = view.inputs.raw(name, view.data.raw(name)) %}
    {{ view.forms.text(name, value).class('form-control') | raw}}
    {% include '_form/error.twig' with {'name': name} %}
</div>