{% extends "layouts/layout.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            {{ contents|raw }}
        </div>
        <div class="col-md-4">
            <br/>
            <h4><a href="/docs/" >Document Top</a></h4>
            <h4>Getting Started</h4>
            <ul>
                <li><a href="/docs/introduction" >Introduction</a></li>
                <li><a href="/docs/samples" >Sample Codes</a></li>
                <li><a href="/docs/structure" >Directory Structure</a></li>
            </ul>

            <h4>Details</h4>
            <ul>
                <li><a href="/docs/templates" >Template and Helpers</a></li>
                <li><a href="/docs/responders" >Responders</a></li>
                <li><a href="/docs/services" >Services</a></li>
            </ul>
        </div>
    </div>

{% endblock %}