<!-- login form -->
<form class="navbar-form navbar-left" role="search" action="/login" method="post">
    <input type="hidden" name="_token" value="{{ view.attributes('_token') }}">
    <input type="hidden" name="_method" value="DELETE">
    <span class="text-info" ><strong>{{ login }}</strong></span>
    <div class="form-group">
        <input type="hidden" name="logout" value="logout" >
    </div>
<button type="submit" class="btn btn-default">Log out</button>
</form>