{% extends "layouts/layout.twig" %}

{% block content %}

    <h1>File Not Found</h1>

    <p>File or resource you have requested for was not found. </p>
    <p><a href="/" >start from the beginning!</a></p>

{% endblock %}