{% extends "layouts/layout.twig" %}

{% block content %}

<h1>Generic Error</h1>

<p>It's a generic ERROR!</p>
<p>maybe uncaught exception?</p>
<p><a href="/">start from the beginning!</a></p>

{% endblock %}