{% extends "layouts/layout.twig" %}

{% block content %}

    <h1>Let's Jump!!</h1>

    <p>This sample shows how to create a form input and shows the error message from the redirection.</p>

    <h3>Sample Form</h3>

    <form method="post" action="">
        
        <input type="hidden" name="_token" value="{{ view.attributes('_token') }}">

        {% include '_form/text.twig' with {'name': 'jumped', 'title': 'extra text:'} %}
        {% include '_form/date.twig' with {'name': 'date', 'title': 'some date:'} %}
        
        {% include '_form/listRadio.twig' with {'name': 'gender', 'title': 'your gender:', 'list': {
            1: 'male', 2: 'femal', 3: 'other'
        }} %}
        
        {% include '_form/listCheck.twig' with {'name': 'movie', 'title': 'your movie:', 'list': {
        1: 'Star Wars', 2: 'Star Trek', 3: 'Yamato'
        }} %}

        {% include '_form/check.twig' with {'name': 'happy', 'value': 'yes', 'title': 'Are You Happy?', 'label': 'Yes!'} %}

        <div class="form-inline">
            <input type="submit" value="jump!" class="btn btn-primary"/>&nbsp;
            <input type="button" value="clear" onclick="location.href=''" class="btn btn-default"/>
            {% include '_form/check.twig' with {'name': '_redirect', 'value': 'redirect', 'title': '', 'label': 'redirect back'} %}
        </div>

    </form>

{% endblock %}

{% block stylesheet %}
<style type="text/css">
    label {
        margin-top:.5em;
    }
</style>
{% endblock %}